body {
   background: #d6d6d6;
   border: 10px solid black;
   padding: 20px; 
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   transition: background-image 1s;
}


@keyframes jiggle {
  0% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}

#first {
  text-align: center;
  margin-top: 0px; 
  color: white;
  text-shadow: 0 0 10px rgba(185, 247, 61, 0.8); 
  animation: jiggle 3s infinite; 
}

 
 .info-container {
   margin-right: 15px;
   text-shadow: 0 0 10px rgb(252, 252, 247); 
 }
 
 .card {
   box-shadow: 5px 5px 20px #878686;
   background-image: linear-gradient(to right, #d1c8bc, #b9b6ac);
   font-size: 125%;
   transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
   opacity: 90%;
 }
 
 .card:hover {
   transform: scale(1.05);
 }
 
 .cards {
   border-style: inline;
   border-radius: 10px; 
   box-shadow: 5px 5px 20px #cfbdbd;
   background-image: linear-gradient(to right, #e4d6d6, #f5f0e3);
   font-size: 125%;
   transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1); 
   opacity: 90%;
 }
 
 .cards:hover {
   transform: scale(1.05);
 }
 
 .flex-container {
   display: flex;
   justify-content: space-between;
 }
 
 .flex-item {
   flex: 1;
   padding: 0 10px; 
  
 }

.flex-item:not(:last-child) {
  border-right: 1px solid #000;
}
 
 a,
 a:hover,
 a:visited {
   color: white;
   text-decoration: none;
 }
 
 .custom-jumbotron {
   background-image: linear-gradient(to right, #0e1b31, #2d2538);
 }
 
 .weather-container {
   min-height: 85%;
 }
 
 /* MAIN CARD */
 
 #main-card,
 .forecast-card,
 .search-card {
   box-shadow: 3px 3px 15px #4d4d4d;
 }
 
 #main-card {
   background-image: linear-gradient(to right, #b5b1a1, #a09e94);
   font-size: 125%;
   transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1); 
 }
 
 #main-card:hover {
   transform: scale(1.01);
 }
 
 #main-card-city {
   font-weight: bold;
 }
 
 #main-card-icon {
   width: 60%;
 }
 
 .main-text {
   font-size: 120%;
 }
 
 .search-card {
   background-color: blue;
 }
 
 .timezone {
  font-size: 14px;
  color: #555;
}




 footer {
   text-align: center;
   background-image: linear-gradient(to right, #0e1b31, #2d2538);
   justify-content: center;
   width: 100%;
   padding: 12px;
 }
 
 footer img {
   width: 50px;
   transition: transform 1s;
 }
 
 footer img:hover {
   transform: rotate(360deg);
 }
 
 .flex-grid {
   display: flex;
   justify-content: space-between;
   margin-bottom: 10px;
 }
 
 .flex-grid div {
   flex: 1;
   border-radius: 10px; 
 }

#search-btn {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}

#search-btn:hover{
  background-color: #18811d;
  color: #fff;
  transform: scale(1.2);
}

#search-btn:not(:hover){
  transition: background-color 2s ease, color 2s ease, transform 2s ease; /* Add transform to the transition */
  transform: scale(1); /* Reset the scale when not hovering */
}

footer {
   font-weight: 500;
   display: flex;
   justify-content: space-evenly;
   padding: 2rem;
   background: var(--main-gray);
   border-top: 4px solid var(--main-red);
   font-weight: bold;
 }
 
 footer > p {
  margin: 2rem;
  color: white;
  transition: transform 0.3s ease-in-out; /* Add transition for smooth effect */
}

footer i {
  vertical-align: middle;
}

footer:hover > p {
  transform: translateY(-15px);
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: right;
  }
}

h3 {
color: white;
}

 